aside
  article.bg-grey
    h5.small-dark-title Col2
    .lead Video
      span.text-muted  | Montage Videos    

    h3 Video 1
    p2.text-muted  Sample video    

    .embed-responsive.embed-responsive-16by9
      <iframe width="560" height="315" src="https://www.youtube.com/embed/io5mgCsmT24" frameborder="0" allowfullscreen></iframe>    

    .row.text-muted.video-desc
      .col-sm-6 Date 2016/2/2    
      .col-sm-6 
        .glyphicon.glyphicon-user 
          | Wataru
hr