h5.small-dark-title Col 1
.lead My Groups 
  span.text-muted | TeamBateM8
h3 Team BateM8
p2.text-muted Team of b8ers and memers. Usually feeds like crazy and afks.

.row.text-muted
  .col-sm-4
    ul#teamMemberList
      li Onaneet401239
      li LegendD
      li LegendZ
  .col-sm-8
    h2#sampleText
hr

h3 Team Wataru's Memes
p2.text-muted Team of wataru and his memes. Very dank.

hr

strong Picture
span.text-muted  | sample picture

h2 Favorite Champion

p: img(src="http://placehold.it/560x150")

p.text-muted Film boat chrome order-flow dome wristwatch assault range-rover towards industrial grade. Chiba face forwards tank-traps rain 8-bit modem shanty town. DIY wristwatch plastic denim receding dome sensory construct girl long-chain hydrocarbons pre-convenience store. Tube boat shanty town face forwards film jeans motion cartel singularity dissident refrigerator boy tanto artisanal pen dolphin. Artisanal stimulate sensory rifle network 3D-printed futurity boat claymore mine katana wonton soup film. Disposable silent man narrative bomb wristwatch carbon towards DIY sensory. Media advert neon boy rebar bicycle San Francisco pen engine youtube tower computer pre-fetishism Chiba. Post-media industrial grade vinyl girl ablative fluidity geodesic smart-dead free-market Shibuya corporation human towards katana youtube. 

hr

