extends layout

block content
  include topheader
  .container-fluid
    .row.mainContentRow
        .col-sm-2#navbar
          include sidebar
        .col-sm-10.mainContent
          include maincontent