.sidebar-nav
            .navbar.navbar-default(role='navigation')
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.sidebar-navbar-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                span.visible-xs.navbar-brand Sidebar menu
              .navbar-collapse.collapse.sidebar-navbar-collapse
                ul.nav.navbar-nav
                  li.active
                    a(href='#')
                        | News Feed 
                        span.badge.pull-right#badge 66
                  li
                    a(href='#') My Stats
                  li
                    a(href='#') My Teams
                  li
                    a(href='#') Feeder Ranks
                  li
                    

