.container-fluid
    .row.titleRow
      .col-md-4.titleSection
        .titleHeader
          h1.title f33der.gg
          h1.text-muted.subTitle -team too heavy-
      ul.col-md-8.list-inline.text-right#top-right
        li
          a(href=""): .glyphicon.glyphicon-envelope.iconStyle  Contact
        li
          a(href="/register"): .glyphicon.glyphicon-leaf.iconStyle  Register
        li |
        li
          form.form-inline(role="form")
            .form-group
              .label.sr-only Email Address
              input.form-control(type="email",placeholder="enter email")
              button.btn.btn-default(type="submit") Login!